.header{
    width: 100%;
    height: 10vh;
    background-color: #313131;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.Navbar{
    width: 100%;
    height: 4vh;
    background-color: #bc2929;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
}
.Navbar a {
    text-decoration: none;
    color: #fcfafa;
}

.home{
    width: 100%;
    min-height: 80vh;
    padding: 24px;
    box-sizing: border-box;
    background-color: #fcfafa;
    color: rgb(10, 10, 10);
    display: flex;
    gap: 28px;
    align-items: start;
}
.footer{
    width: 100%;
    height: 6vh;
    background-color: #313131;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
